*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

ul,ol{
    list-style-type: none;
}

/* --------------------------------------------- */


/* ============= Navebar css starts ============ */

nav{
   
    background-color: #FFF8F3;
}
.navbar .container{
    padding-top: 43px;
}
.navbar-nav .nav-item .nav-link{
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 400; 
    color: #474747;
    padding-right: 70px;
}
.Hire-me{
    background-color: #FD6E0A;
    border-radius: 5px;
    
}

.Hire-me a{
    color: white;
    background-color: #FD6E0A; 
    padding: 18px 36px;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    transition:all .5s;
    border: 1px solid #FD6E0A;
    border-radius: 5px; 
}
.Hire-me a:hover{
    background-color: white;
    color: #FD6E0A;
    border-color:#FD6E0A;
}

/* ============= Navebar css ends ============ */

/* ============= Banner css starts ============ */

#banner{
    background-color: #FFF8F3;
    padding-top: 70px;
}

.row{
    position: relative;
}

.banner_text{
    padding-top: 124px;
}

#banner .container .row .banner_text h3{
    font-family: "Open Sans";
    font-size: 45px;
    font-weight: 600; 
    color: #474747;
}
#banner .container .row .banner_text h1{
    font-family: "Open Sans";
    font-size: 85px;
    font-weight: 700; 
    color: #181818;
    padding-top: 36px;
    padding-bottom:25px ;
}
#banner .container .row .banner_text p{
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 300; 
    color: #757575;
    line-height: 30px;
    padding-bottom: 30px;
}

#banner .container .row .banner_text a{
    color: white;
    border-color: #FD6E0A;
    background-color: #FD6E0A; 
    padding: 18px 36px;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: bold; 
    margin-right: 25px;
}

#banner .container .row .banner-photo{
    height: 676px;
    
} 

#banner .container .row .banner_text a svg{
    fill: white;
    margin-right: 3px;
    height: 24px;
    width: 24px;
}
#banner .container .row .banner_text a:hover{
    background-color: white;
    color:#FD6E0A;
    transition:all .5s;
}
#banner .container .row .banner_text a:hover svg{
  fill: #FD6E0A;
}
/* ============= Banner css ends ============ */


/* ============= About sextion starts ============ */

.about-items{
    padding:131px 156px ;
    background-color:#FFF8F3 ;
    margin-top: 130px;
}


#about .about-items .about_content h3{
    font-family: "Open Sans";
    font-size: 35px;
    font-weight: 700;
    color:#181818 ;
}

#about .about-items .about_content p{
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 300;
    color: #757575;
    line-height: 30px;
    padding: 30px 100px;
}

#about .about-items .about_content .info{
    display: flex;
    justify-content: space-between;
    width: 777px;
    margin: 0 auto;
}

#about .about-items .about_content .info .info1 h3{
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 300;
    color: #757575;
}
#about .about-items .about_content .info .info1 h5{
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    color: #181818;
}

/* ============= About sextion ends ============ */


/* ============= Service section Start ============ */

#service{
    padding: 130px 0;
}

#service .title{
    text-align: center;
    margin: 0px auto;
}

#service .title h3{
    font-family: "Open Sans", sans-serif;
    font-size: 35px;
    font-weight: 700;
    color: #181818;
    margin-bottom: 30px;
}
#service .title p{
    padding: 0 195px;
    margin: 0px auto;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #757575;
    margin-bottom: 50px;
}
#service .card .card-body{
   padding: 1rem 1rem;
   border-radius: 5px;
   background-color: #FFFFFF;
   width: 267px;
    -webkit-box-shadow: -1px 0px 39px 2px rgba(0,0,0,0.24);
    -moz-box-shadow: -1px 0px 39px 2px rgba(0,0,0,0.24);
    box-shadow: -1px 0px 39px 2px rgba(0,0,0,0.24);
} 

#service .card .card-body img{
    width: 44px;
    height: 44px;
}

#service .card .card-body h5{
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #181818;
    padding: 20px 0px;
   
}

#service .card .card-body p{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #757575;
    margin-bottom: 20px;
    padding-right: 40px;
  
}

 

/* ============= Service section End ============ */

/* ============= Resume section Start ============ */

#resume .resume-content h3{
    margin-bottom: 75px ;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 35px;
    font-weight: 700;
}

#resume .resume-content .resume-items{
    padding: 38px 0;
    border-bottom: 1px solid #D1D1D1;
}
#resume .resume-content .resume-items1{
    padding: 38px 0;
}

#resume .resume-content .resume-items h4{
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #474747;
    padding-bottom: 30px;
}
#resume .resume-content .resume-items h5{
    font-family: "Open Sans", sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: #474747;
}
#resume .resume-content .resume-items h6{
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #757575;
    padding-top: 10px;
}
#resume .resume-content .resume-items p{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #757575;
    line-height: 28px;
    padding-right: 150px;
    padding-top: 20px;
}
#resume .resume-content .resume-items1 p{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #757575;
    line-height: 28px;
    padding-right: 150px;
    padding-top: 20px;
}
#resume .resume-content .resume-items1 h6{
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #757575;
    padding-top: 10px;
}
#resume .resume-content .resume-items1 h4{
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #474747;
    padding-bottom: 30px;
    
}
#resume .resume-content  .resume-button{
    margin-bottom: 113px;
}
#resume .resume-content  .resume-button a{
    color: white;
    border-color: #FD6E0A;
    background-color: #FD6E0A; 
    padding: 18px 36px;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: bold; 
    margin-right: 25px;
}
#resume .resume-content  .resume-button a svg{
    fill: white;
    margin-right: 3px;
    height: 24px;
    width: 24px;
}
#resume .resume-content  .resume-button a:hover{
    background-color: white;
    color:#FD6E0A;
    transition:all .5s;
}
#resume .resume-content  .resume-button a:hover svg{
  fill: #FD6E0A;
}

/* ============= Resume section End ============ */

/* ============= Footer section Start ============ */

#footer{
    padding: 128px 0;
    background-color:#FFF8F3 ;
}
#footer .footer-items .footer-content .submit{
    padding-top: 44px;
}
#footer .footer-items .footer-content a{
    background-color: #FD6E0A;
    border-radius: 5px;
    
}

#footer .footer-items .footer-content a{
    color: white;
    background-color: #FD6E0A; 
    padding: 18px 36px;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
    transition:all .5s;
    border: 1px solid #FD6E0A;
    border-radius: 5px; 
}
#footer .footer-items .footer-content a:hover{
    background-color: white;
    color: #FD6E0A;
    border-color:#FD6E0A;
}

#footer .footer-items .footer-about h3{
    font-family: "Open Sans", sans-serif;
    font-size: 35px;
    font-weight: 700;
    color: #181818;
}
#footer .footer-items .footer-about p{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #474747;
    line-height: 28px;
    padding-right: 100px;
    padding-top: 20px;
}
#footer .footer-items .footer-about a{
    padding-right:24px ;
    padding-top: 30px;
}
#footer .footer-items .footer-content h3{
    font-family: "Open Sans", sans-serif;
    font-size: 35px;
    font-weight: 700;
    color: #181818;
}
/* ============= Footer section End ============ */

/* ============= Start ============ */
/* ============= End ============ */

