.top{
    height: 80px;
}
.banner{
    height: 250px;
}
.nevigation{
    height: 70px;
}
.about{
    height: 500px;
}
.quicklinks1{
    height: 200px;   
}
.quicklinks2{
    height: 276px;
}
.info{
    height: 200px;
}